<main class="page-wrapper">

  <section class="pt-0 bg-white">
    <div class="height-40 py-3 py-md-4">
      <div class="container">
        <div class="row text-center justify-content-center mt-5">
          <!-- <img src="https://polkadot.network/assets/img/Polkadot_Live_Cover.svg?v=c96a9bfdcb" class="px-5 mb-5"> -->
          <div class="col-12 px-md-5 mt-3">
            <img src="assets/img/brain2.svg" class="px-3 px-md-5 mb-5 w-100" style="max-height: 206px;">
          </div>
          <div class="col-md-12 col-lg-7 mb-3">
            <h1 class="h2 text-dark mb-4">Be part of a revolution. Free your services.</h1>
            <h1 class="h4 text-dark mb-4">with the Brain Network.</h1>
          </div>
          <div class="col-12 justify-content-center">
            <a class="btn btn-primary btn-lg m-2 aos-init aos-animate" href="/parachains" data-aos="fade">
              Offer your service
            </a>
            <a class="btn btn-primary btn-lg m-2 aos-init aos-animate" href="/auctions" data-aos="fade">
              Explore
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark pb-0">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-sm-8 col-lg-9 pb-3 pb-sm-0">
          <span class="h1 text-white font-weight-bold">Powering the Brain Network</span>
          <p class="lead text-white mt-4 mb-0">
            The BRAIN token serves two purposes: <br class="d-none d-xl-block">Save on platform fees and staking.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-dark pt-0">
    <div class="container text-center">
      <div class="row mb-4 justify-content-md-center justify-content-lg-around">
        <div class="col-12 col-md-6 col-lg-4 mb-md-2">
        <span class="card bg-dark shadow-none">
          <div class="px-md-3 pt-md-3 mx-4 mx-md-1 mx-lg-3">
            <img class="card-img p-3" src="https://polkadot.network/assets/img/icons/home-icon-token-1.svg?v=c96a9bfdcb" alt="">
          </div>
          <div class="card-body">
            <div>
              <span class="h4 text-white mb-2 d-block text-bold">Save on fees.</span>
              <p class="text-white">All users of the platform save high middle-men platform fees. Additionally BRAIN token holders save up to 20% on the smart contract fee.</p>
            </div>
          </div>
        </span>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-md-2">
        <span class="card bg-dark shadow-none">
          <div class="px-md-3 pt-md-3 mx-4 mx-md-1 mx-lg-3">
            <img class="card-img p-3" src="https://polkadot.network/assets/img/icons/home-icon-token-3.svg?v=c96a9bfdcb" alt="">
          </div>
          <div class="card-body">
            <div>
              <span class="h4 text-white mb-2 d-block text-bold">Staking</span>
              <p class="text-white">Use your BRAIN token and get rewarded with staking.</p>
            </div>
          </div>
        </span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-12 col-md-8 col-lg-4 text-center">
          <span class="h2 d-block mb-4 text-white">Learn more about the BRAIN token</span>
          <a class="btn btn-primary btn-lg text-white" href="/dot-token">Discover BRAIN</a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary">
    <div class="container">
      <div class="row mb-4 justify-content-around">
        <div class="col-sm-12 col-lg-5">
          <span class="h1 d-block text-white font-weight-bold">Thrive your business through freelancers and interact with them based on a smart contract.</span>
        </div>
        <div class="col-sm-12 col-lg-6">
          <p class="lead text-white">TEXT TEXT <a href="https://web3.foundation/" target="_blank" class="text-underline">Web3 Foundation</a>.</p>
          <p class="lead text-white">Web3 TEXT TEXT</p>
        </div>
      </div>
      <div class="row justify-content-around mt-5 mb-2">
        <div class="col-12">
          <div class="row justify-content-start justify-content-lg-around">
            <div class="col-4 col-lg col-md-2 mb-4 mb-md-0 d-flex justify-content-start justify-content-lg-center">
              <img class="icon icon-lg icon-teams" src="https://polkadot.network/assets/img/logos/logo-circle-parity-white.svg?v=c96a9bfdcb" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Parity Technologies">
            </div>
            <div class="col-4 col-lg col-md-2 mb-4 mb-md-0 d-flex justify-content-start justify-content-lg-center">
              <img class="icon icon-lg icon-teams" src="https://polkadot.network/assets/img/logos/logo-circle-chainsafe-white.svg?v=c96a9bfdcb" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="ChainSafe">
            </div>
            <div class="col-4 col-lg col-md-2 mb-4 mb-md-0 d-flex justify-content-start justify-content-lg-center">
              <img class="icon icon-lg icon-teams" src="https://polkadot.network/assets/img/logos/logo-circle-soramitsu-white.svg?v=c96a9bfdcb" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Soramitsu">
            </div>
            <div class="col-4 col-lg col-md-2 mb-4 mb-md-0 d-flex justify-content-start justify-content-lg-center">
              <img class="icon icon-lg icon-teams" src="https://polkadot.network/assets/img/logos/logo-circle-polkadot-js-white.svg?v=c96a9bfdcb" alt="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Polkadot JS">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-explore></app-explore>
<!--  <section class="pt-0 pb-0 bg-dark">
    <div class="height-60 py-3 py-md-4 height-40">
      <img class="bg-image opacity-50" src="https://polkadot.network/assets/img/web3-summit-3.jpg?v=c96a9bfdcb" alt="">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 aos-init" data-aos="fade-up">
            <p class="h1 display-4 text-white mb-4 font-weight-bold">Founded by some of the blockchain industry’s foremost builders</p>
            <a href="/about" class="btn btn-primary btn-lg text-bold text-white">Learn About the Polkadot Team</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="container">
      <div class="row text-center mb-5">
        <div class="col">
          <span class="h1 d-block font-weight-bold">From the blog</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="card border shadow">
            <a href="/blog/introducing-encointer-making-web3-truly-inclusive/">
              <img class="card-img-top" src="https://polkadot.network/content/images/2022/01/Encointer-Blog-Cover-1.jpeg" alt="">
            </a>
            <div class="card-body py-3">
              <a href="/tag/kusama/" class="mb-2 d-block">Kusama</a>
              <a href="/blog/introducing-encointer-making-web3-truly-inclusive/">
                <h5>Introducing Encointer: Making Web3 Truly Inclusive</h5>
              </a>
              <div>
                <p class="mb-0">Encointer is Kusama’s second common-good parachain slot . In this post, we take an in-depth look at Encointer and the problems it addresses — how it can bring financial inclusivity to Web3 and mitigate Sybil attacks with a novel ‘proof-of-personhood’ system for unique identity....</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex align-items-center">
                <img src="https://polkadot.network/content/images/2021/12/ghost_avatar_polkadot.png" alt="" class="avatar mr-2">
                <span>Polkadot</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="card border shadow">
            <a href="/blog/polkadot-v1-0-sharding-and-economic-security/">
              <img class="card-img-top" src="https://polkadot.network/content/images/2022/01/cover-image.png" alt="">
            </a>
            <div class="card-body py-3">
              <a href="/tag/polkadot/" class="mb-2 d-block">Polkadot</a>
              <a href="/blog/polkadot-v1-0-sharding-and-economic-security/">
                <h5>Polkadot v1.0: Sharding and Economic Security</h5>
              </a>
              <div>
                <p class="mb-0">This post is about the technology powering Polkadot. Polkadot is a sharded blockchain with heterogeneous shards....</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex align-items-center">
                <img src="https://polkadot.network/content/images/2021/12/ghost_avatar_polkadot.png" alt="" class="avatar mr-2">
                <span>Polkadot</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="card border shadow">
            <a href="/blog/polkadot-2021-roundup/">
              <img class="card-img-top" src="https://polkadot.network/content/images/2021/12/2021-Roundup.jpg" alt="">
            </a>
            <div class="card-body py-3">
              <a href="/tag/polkadot/" class="mb-2 d-block">Polkadot</a>
              <a href="/blog/polkadot-2021-roundup/">
                <h5>Polkadot 2021 Roundup</h5>
              </a>
              <div>
                <p class="mb-0">The holiday season is coming around again and with the new year, let’s take a quick retrospective about what the Polkadot project achieved over 2021....</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex align-items-center">
                <img src="https://polkadot.network/content/images/2019/09/Gavin_750.jpg" alt="" class="avatar mr-2">
                <span>Gavin Wood</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white spacer-y-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-12 text-center">
          <span class="h1 d-block mb-4">Want to get involved?</span>
          <a class="btn btn-primary btn-lg" href="/community">Join the Community</a>
          <span class="d-block mt-3 mt-3">or learn about how to <a href="/build" class="text-underline">build on Polkadot</a>.</span>
        </div>
      </div>
    </div>
  </section>-->

</main>
